absl-py==1.1.0
aiohttp==3.7.4
alabaster==0.7.12
allensdk==2.13.6
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
antlr4-python3-runtime==4.8
appdirs==1.4.4
appnope==0.1.0
appscript==1.0.1
argschema==3.0.1
arrow==0.15.5
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
astropy==3.2.1
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.7
beautifulsoup4==4.7.1
bibtexparser==1.1.0
biopython==1.76
bitarray==0.9.3
bkcharts==0.2
black==21.4b2
bleach==3.1.0
blend-modes==2.1.0
blis==0.9.1
bokeh==1.2.0
boto==2.49.0
boto3==1.17.21
botocore==1.20.92
Bottleneck==1.2.1
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.6
cellpose==0.7.2
censusgeocode==0.4.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
click==8.0.3
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.2.1
clyent==1.2.2
colorama==0.4.1
conda==4.7.10
conda-build==3.18.8
conda-package-handling==1.3.11
conda-verify==3.4.2
confection==0.0.1
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.7
cssselect==1.1.0
cvxpy==1.0.25
cycler==0.10.0
cymem==2.0.6
Cython==0.29.12
cytoolz==0.10.0
dask==2.1.0
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.0
distributed==2.1.0
distro==1.5.0
dnspython==2.1.0
docutils==0.14
dominate==2.6.0
ecos==2.0.7.post1
edt==2.1.1
email-validator==1.1.3
en-core-web-lg==3.4.0
en-core-web-sm==3.2.0
entrypoints==0.3
et-xmlfile==1.0.1
exif==1.3.1
fabric==2.5.0
fancyimpute==0.5.3
fastcache==1.1.0
fastjsonschema==2.16.2
fastremap==1.12.2
feather-format==0.4.0
filelock==3.0.12
Fiona==1.8.13.post1
Flask==2.2.2
Flask-Bootstrap==3.3.7.1
Flask-WTF==1.0.1
flatbuffers==1.12
future==0.17.1
fvcore==0.1.5.post20211023
gast==0.3.2
geographiclib==1.50
geopandas==0.7.0
geopy==1.21.0
gevent==1.4.0
glob2==0.7
Glymur==0.8.19
gmpy2==2.0.8
google==2.0.3
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.1.7
googlemaps==4.4.1
GrabzIt==3.4.5.1
graphviz==0.13
greenlet==0.4.15
grpcio==1.47.0
gunicorn==20.0.4
h5py==2.10.0
hdmf==3.4.2
heapdict==1.0.0
html5lib==1.0.1
huggingface-hub==0.0.8
hydra-core==1.1.1
hyperlink==19.0.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
imagesize==1.1.0
imgkit==1.0.2
importlib-metadata==4.12.0
importlib-resources==5.4.0
incremental==17.5.0
invoke==1.3.0
iopath==0.1.9
ipykernel==5.1.3
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==2.1.2
jdcal==1.4.1
jedi==0.13.3
Jinja2==3.1.2
jmespath==0.10.0
joblib==0.13.2
json5==0.8.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==7.3.5
jupyter-console==6.0.0
jupyter-core==4.11.1
jupyterlab==1.0.2
jupyterlab-pygments==0.2.2
jupyterlab-server==1.0.0
kaggle==1.5.12
kaggle-environments==1.3.6
keras==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.0
Kivy==2.0.0
Kivy-Garden==0.1.4
kiwisolver==1.1.0
knnimpute==0.1.0
langcodes==3.3.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
libclang==14.0.1
lief==0.9.0
llvmlite==0.29.0
locket==0.2.0
lxml==4.3.4
Markdown==3.1.1
MarkupSafe==2.1.1
marshmallow==3.14.1
matplotlib==3.1.0
mccabe==0.6.1
mistune==2.0.4
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
mock==3.0.5
more-itertools==7.0.0
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==0.6.1
multidict==4.7.6
multipledispatch==0.6.0
multiprocess==0.70.8
munch==2.5.0
murmurhash==1.0.6
mypy-extensions==0.4.3
natsort==8.0.2
navigator-updater==0.2.1
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.5.0
ndx-events==0.2.0
neo4j==1.7.4
neo4jrestclient==2.1.1
neobolt==1.7.13
neotime==1.7.4
nest-asyncio==1.2.0
networkx==2.6.3
nltk==3.4.4
nose==1.3.7
notebook==6.0.0
numba==0.44.1
numexpr==2.6.9
numpy==1.21.5
numpydoc==0.9.1
oauthlib==3.2.0
olefile==0.46
omegaconf==2.1.1
opencv-python==4.5.1.48
opencv-python-headless==4.5.4.60
openpyxl==2.6.2
-e git+https://github.com/openskynetwork/opensky-api.git@d576cf260affd99156e352528ea46817273512d7#egg=opensky_api&subdirectory=python
opt-einsum==3.3.0
osqp==0.6.1
packaging==21.3
pandas==1.3.5
pandocfilters==1.4.2
paramiko==2.7.0
parsel==1.5.2
parso==0.5.0
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.4
pathspec==0.9.0
pathy==0.6.1
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.4.0
pkginfo==1.5.0.1
plotly==4.8.1
pluggy==0.12.0
plum-py==0.7.0
ply==3.11
portalocker==2.3.2
preshed==3.0.6
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.2
psutil==5.6.3
psycopg2-binary==2.8.5
ptyprocess==0.6.0
py==1.8.0
pyarrow==0.15.1
pyasn1==0.4.6
pyasn1-modules==0.2.6
PyAutoGUI==0.9.50
pycocotools==2.0.3
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydantic==1.8.2
pydeck==0.1.dev5
PyDispatcher==2.0.5
pydot==1.4.2
pydotplus==2.0.2
pyflakes==2.1.1
PyGetWindow==0.0.8
Pygments==2.4.2
PyHamcrest==1.9.0
pylint==2.3.1
PyMsgBox==1.0.7
PyNaCl==1.3.0
pynrrd==0.4.2
pynwb==1.4.0
pyobjc==6.2
pyobjc-core==6.2
pyobjc-framework-Accounts==6.2
pyobjc-framework-AddressBook==6.2
pyobjc-framework-AdSupport==6.2
pyobjc-framework-AppleScriptKit==6.2
pyobjc-framework-AppleScriptObjC==6.2
pyobjc-framework-ApplicationServices==6.2
pyobjc-framework-Automator==6.2
pyobjc-framework-AVFoundation==6.2
pyobjc-framework-AVKit==6.2
pyobjc-framework-BusinessChat==6.2
pyobjc-framework-CalendarStore==6.2
pyobjc-framework-CFNetwork==6.2
pyobjc-framework-CloudKit==6.2
pyobjc-framework-Cocoa==6.2
pyobjc-framework-Collaboration==6.2
pyobjc-framework-ColorSync==6.2
pyobjc-framework-Contacts==6.2
pyobjc-framework-ContactsUI==6.2
pyobjc-framework-CoreAudio==6.2
pyobjc-framework-CoreAudioKit==6.2
pyobjc-framework-CoreBluetooth==6.2
pyobjc-framework-CoreData==6.2
pyobjc-framework-CoreLocation==6.2
pyobjc-framework-CoreMedia==6.2
pyobjc-framework-CoreMediaIO==6.2
pyobjc-framework-CoreML==6.2
pyobjc-framework-CoreServices==6.2
pyobjc-framework-CoreSpotlight==6.2
pyobjc-framework-CoreText==6.2
pyobjc-framework-CoreWLAN==6.2
pyobjc-framework-CryptoTokenKit==6.2
pyobjc-framework-DictionaryServices==6.2
pyobjc-framework-DiscRecording==6.2
pyobjc-framework-DiscRecordingUI==6.2
pyobjc-framework-DiskArbitration==6.2
pyobjc-framework-DVDPlayback==6.2
pyobjc-framework-EventKit==6.2
pyobjc-framework-ExceptionHandling==6.2
pyobjc-framework-ExternalAccessory==6.2
pyobjc-framework-FinderSync==6.2
pyobjc-framework-FSEvents==6.2
pyobjc-framework-GameCenter==6.2
pyobjc-framework-GameController==6.2
pyobjc-framework-GameKit==6.2
pyobjc-framework-GameplayKit==6.2
pyobjc-framework-ImageCaptureCore==6.2
pyobjc-framework-IMServicePlugIn==6.2
pyobjc-framework-InputMethodKit==6.2
pyobjc-framework-InstallerPlugins==6.2
pyobjc-framework-InstantMessage==6.2
pyobjc-framework-Intents==6.2
pyobjc-framework-IOSurface==6.2
pyobjc-framework-iTunesLibrary==6.2
pyobjc-framework-LatentSemanticMapping==6.2
pyobjc-framework-LaunchServices==6.2
pyobjc-framework-libdispatch==6.2
pyobjc-framework-LocalAuthentication==6.2
pyobjc-framework-MapKit==6.2
pyobjc-framework-MediaAccessibility==6.2
pyobjc-framework-MediaLibrary==6.2
pyobjc-framework-MediaPlayer==6.2
pyobjc-framework-MediaToolbox==6.2
pyobjc-framework-Metal==6.2
pyobjc-framework-MetalKit==6.2
pyobjc-framework-ModelIO==6.2
pyobjc-framework-MultipeerConnectivity==6.2
pyobjc-framework-NaturalLanguage==6.2
pyobjc-framework-NetFS==6.2
pyobjc-framework-Network==6.2
pyobjc-framework-NetworkExtension==6.2
pyobjc-framework-NotificationCenter==6.2
pyobjc-framework-OpenDirectory==6.2
pyobjc-framework-OSAKit==6.2
pyobjc-framework-Photos==6.2
pyobjc-framework-PhotosUI==6.2
pyobjc-framework-PreferencePanes==6.2
pyobjc-framework-PubSub==6.2
pyobjc-framework-QTKit==6.2
pyobjc-framework-Quartz==6.2
pyobjc-framework-SafariServices==6.2
pyobjc-framework-SceneKit==6.2
pyobjc-framework-ScreenSaver==6.2
pyobjc-framework-ScriptingBridge==6.2
pyobjc-framework-SearchKit==6.2
pyobjc-framework-Security==6.2
pyobjc-framework-SecurityFoundation==6.2
pyobjc-framework-SecurityInterface==6.2
pyobjc-framework-ServiceManagement==6.2
pyobjc-framework-Social==6.2
pyobjc-framework-SpriteKit==6.2
pyobjc-framework-StoreKit==6.2
pyobjc-framework-SyncServices==6.2
pyobjc-framework-SystemConfiguration==6.2
pyobjc-framework-UserNotifications==6.2
pyobjc-framework-VideoSubscriberAccount==6.2
pyobjc-framework-VideoToolbox==6.2
pyobjc-framework-Vision==6.2
pyobjc-framework-WebKit==6.2
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyperclip==1.8.0
pyproj==2.6.0
PyRect==0.1.4
pyrsistent==0.14.11
PyScreeze==0.1.26
PySocks==1.7.0
pytesseract==0.3.10
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.2
python-slugify==4.0.1
pytorch-ranger==0.1.1
PyTweening==1.0.3
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
pyzmq==24.0.0
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
queuelib==1.5.0
redis==3.5.3
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
retrying==1.3.3
rope==0.14.0
rsa==4.8
ruamel-yaml==0.15.46
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
rubicon-objc==0.3.1
s3transfer==0.3.3
sacremoses==0.0.45
scholarly==0.2.5
scikit-build==0.11.1
scikit-dimension==0.3.2
scikit-image==0.15.0
scikit-learn==1.0.2
scipy==1.6.3
Scrapy==1.7.3
scs==2.1.1.post2
seaborn==0.11.2
selenium==3.141.0
semver==2.13.0
Send2Trash==1.5.0
sentencepiece==0.1.95
service-identity==18.1.0
Shapely==1.7.0
simplegeneric==0.8.1
SimpleITK==2.0.2
simplejson==3.17.2
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
slugify==0.0.1
smart-open==5.2.1
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.1
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.5
sqlalchemy-redshift==0.7.9
srsly==2.4.4
statsmodels==0.9.0
sympy==1.4
tables==3.6.1
tabulate==0.8.9
tblib==1.4.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
thinc==8.1.1
threadpoolctl==3.1.0
tifffile==2021.11.2
tika==1.24
tinycss2==1.1.1
tokenizers==0.10.3
toml==0.10.2
toolz==0.10.0
torch==1.9.0
torch-optimizer==0.3.0
torchvision==0.10.0
tornado==6.2
tqdm==4.62.3
traitlets==5.4.0
transformers==4.7.0.dev0
Twisted==19.7.0
typed-ast==1.5.1
typer==0.4.0
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.26.6
virtualenv==16.7.8
visitor==0.1.3
w3lib==1.21.0
wasabi==0.10.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==3.5.0
wrapt==1.11.2
WTForms==2.3.3
wurlitzer==1.0.2
xarray==0.15.1
xgboost==2.0.0.dev0
xlrd==1.2.0
XlsxWriter==1.1.8
xlwings==0.15.8
xlwt==1.3.0
yacs==0.1.8
yarl==1.6.3
zict==1.0.0
zipp==3.6.0
zope.interface==4.6.0
