{% extends 'ocr/ocr_dashboard_base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}


<main class="main-center">
    <div class="container">
        <h2>Document OCR</h2>

        <div class="container">
            <br>    

            <div class="form-group">
                <form action="/post_ocr_doc" method="POST" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                <p class="col-sm-8 col-form-label-lg">Select File:</p>
                <p>Warning: <i>This may take many minutes, depending on the size of your file</i></p>
                <br>

                {{ form.pdf_file }}

                {{form.submit(class='btn-sm gryphon-button')}}
                </form>
            </div>
            </form>
    
        </div>
    </div>
</main>

{% endblock %}