{% extends 'general_base/dashboard_base.html' %}
{% block title %}{{title}}{% endblock %}

{%block dashboard_choice%}
{%endblock%}


{% block testing %}
<h3 class="horizontal-auto-margin">Tools</h3>

<hr>

<li class="nav-item">
    <a class="nav-link ghost-button-blue" aria-current="page" href={{ url_for('ocr.ocr_doc') }}>
        <span class="ml-2">Single Document</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link ghost-button-blue" aria-current="page" href={{ url_for('ocr.ocr_batch') }}>
        <span class="ml-2">Batch Processing</span>
    </a>
</li>
<hr>

</ul>


{% endblock %}